* {
    padding: 0;
    margin: 0;
    border: 0;
    font-family: 'Lato', sans-serif;
}

header {
    display: flex;
    justify-content: space-around;
    background: #222222;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.title {
    color: #F16D7F;
    padding-top: 10px;
}
.cart-button {
    padding: 10px;
    background: #F16D7F;
    border-radius: 5px;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    margin: 10px;
}

.goods-list{
    margin-top: 68px;
    display: flex;
    justify-content: center;
}

.goods-item {
    width: 200px;
    height: 300px;
    margin-left: 20px;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 20px;
    line-height: 17px;
    text-align: center;
    
}

h3 {
    padding-bottom: 10px;
    padding-top: 20px;
}
.actions {
    display: flex;
    justify-content: space-around;
}

.search-input {
    height: 30px;
    border-radius: 5px;
    margin: 14px;
}

::placeholder {
    padding-left: 5px;
}

.basket-list {
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0, 0.5);
}

.basket-card {
    width: 30%;
    height: 80%;
    background-color: white;
    border-radius: 5px;
}

.basket-card__header__delete-icon {
    background-image: url(clear.png);
    background-size: contain;
    width: 30px;
    height: 30px;
    margin: 10px;
    cursor: pointer;
}

.basket-card__header {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}

.basket-card__header__title {
    color: #F16D7F;
    padding: 10px;
}

#root {
    display: grid; 
    grid-template-rows: max-content auto; 
     
    position: relative;
}


