* {
    padding: 0;
    margin: 0;
    border: 0;
    font-family: 'Lato', sans-serif;
}

header {
    display: flex;
    justify-content: space-around;
    background: #222222;
}

h1 {
    color: #F16D7F;
    padding-top: 10px;
}
.cart-button {
    padding: 10px;
    background: #F16D7F;
    border-radius: 5px;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    margin: 10px;
}

.goods-list{
    margin-top: 68px;
    display: flex;
    justify-content: center;
}

.goods-item {
    width: 200px;
    height: 300px;
    margin-left: 20px;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 20px;
    line-height: 17px;
    text-align: center;
    
}

h3 {
    padding-bottom: 10px;
    padding-top: 20px;
}
